*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova-SemiBoldCondensed.woff2") format("woff2"), url("../../fonts/ProximaNova-SemiBoldCondensed.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova-RegularCondensed.woff2") format("woff2"), url("../../fonts/ProximaNova-RegularCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/ProximaNova-ExtraBoldCondensed.woff2") format("woff2"), url("../../fonts/ProximaNova-ExtraBoldCondensed.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cuprum";
  src: url("../../fonts/Cuprum-Regular.woff2") format("woff2"), url("../../fonts/Cuprum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: #1e2e36;
}

[class*=__container] {
  max-width: 1848px;
  padding: 0 15px;
  margin: 0 auto;
}

[class*=__title] {
  font-weight: 700;
}

.header {
  position: relative;
}

.header__top {
  border-bottom: 1px solid #1e2e36;
  position: relative;
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .top__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__text {
  font-weight: 700;
  margin-right: 13px;
}
@media screen and (max-width: 1199.98px) {
  .social__text {
    display: none;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.social__link {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 818.98px) {
  .social__link {
    width: 30px;
    height: 30px;
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  -webkit-transition: fill 250ms ease;
  transition: fill 250ms ease;
}
.social__link:hover .social__icon {
  fill: #426374;
}

.header__phone {
  margin-left: 50px;
}
@media screen and (max-width: 1023.98px) {
  .header__phone {
    margin-left: 10px;
  }
}

.phone__logo {
  width: 24px;
}
@media screen and (max-width: 818.98px) {
  .phone__logo {
    display: none;
  }
}

.phone__link {
  margin-left: 5px;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
.phone__link:hover {
  color: #426374;
}

.menu-button {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation {
  width: 100%;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
@media screen and (max-width: 767.98px) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.navigation__item {
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 1023.98px) {
  .navigation__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 767.98px) {
  .navigation__item {
    width: 100%;
    text-align: center;
  }
}

.navigation__link {
  position: relative;
  padding: 5px 0;
}
.navigation__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #44c697;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform 250ms ease 0s;
  transition: -webkit-transform 250ms ease 0s;
  transition: transform 250ms ease 0s;
  transition: transform 250ms ease 0s, -webkit-transform 250ms ease 0s;
}
.navigation__link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
@media screen and (max-width: 767.98px) {
  .navigation__link {
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: #d9d9d9;
  }
}

.active.navigation__link::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header__bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1299.98px) {
  .bottom__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
}

.shop-button {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1299.98px) {
  .shop-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.shop__cross {
  display: none;
}

.shop-container {
  margin-right: 115px;
}
@media screen and (max-width: 1499.98px) {
  .shop-container {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1299.98px) {
  .shop-container {
    display: none;
  }
}

.shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.shop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__link {
  font-weight: 700;
  text-transform: uppercase;
}

.shop__icon {
  width: 7px;
  height: 11px;
  margin-left: 7px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 125px;
}
@media screen and (max-width: 479.98px) {
  .logo__icon {
    width: 50px;
  }
}

.logo__text {
  font-weight: 700;
  font-size: 36px;
  margin-left: 15px;
}
@media screen and (max-width: 1499.98px) {
  .logo__text {
    font-size: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .logo__text {
    display: none;
  }
}

.accent {
  color: #44c697;
}

.header__shopping {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1299.98px) {
  .header__shopping {
    margin-left: 0;
  }
}
@media screen and (max-width: 479.98px) {
  .header__shopping {
    gap: 10px;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__logo {
  width: 30px;
}

.cart__text {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 5px;
}
@media screen and (max-width: 1499.98px) {
  .cart__text {
    display: none;
  }
}

.button {
  padding: 14px 46px;
  background-color: #44c697;
  border-radius: 3px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 479.98px) {
  .button {
    padding: 5px 15px;
  }
}

.hero__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */