.footer {
  background-color: $blackColor;
  background-image: url(../../images/footer/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.footer__container {
}
.footer__bg {
  max-width: 831px;
  background-color: $blackColor;
  padding-top: 50px;
  padding-bottom: 15px;
  padding-right: 56px;

  @media screen and (max-width: 767.98px) {
    padding-top: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
  }
  @media screen and (max-width: 479.98px) {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
  }
}
.footer__logo {
  color: #ffffff;

  margin-bottom: 50px;
  @media screen and (max-width: 479.98px) {
    margin-bottom: 25px;
  }
}
.accent {
}
.footer__content {
  display: flex;

  column-gap: 85px;

  @media screen and (max-width: 767.98px) {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
  }
}
.footer__lists {
  display: flex;
  gap: 55px;

  @media screen and (max-width: 767.98px) {
    justify-content: center;
  }
  @media screen and (max-width: 479.98px) {
    flex-direction: column;
    gap: 15px;
   
  }
}
.footer__list {
}
.footer__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.footer__link {
  position: relative;
  padding-left: 20px;

  font-weight: 700;

  text-transform: uppercase;

  color: #ffffff;

  transition: color 250ms ease;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 14px;
    height: 2px;
    background-color: #44c697;
  }

  &:focus,
  &:hover {
    color: #44c697;
  }
}
.footer__place {
  @media screen and (max-width: 767.98px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.footer__address {
}
.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 15px;

  margin-bottom: 30px;
}
.address__map {
  display: flex;
  align-items: center;

  max-width: 163px;
  color: #ffffff;

  transition: color 250ms ease;
  &:hover,
  &:focus {
    color: #44c697;
  }
}
.adress__icon {
  width: 24px;
  height: 24px;

  fill: #ffffff;
  stroke: #ffffff;

  padding-right: 5px;

  transition: fill 250ms ease, stroke 250ms ease;

  .address__map:hover &,
  .address__map:focus & {
    fill: #44c697;
    stroke: #44c697;
  }
}

.phone {
  &.adress__icon {
    width: 34px;
  }
}
.footer__social {
  flex-direction: column;
  align-items: flex-start;
}

.white {
  &.social__text {
    color: #ffffff;
  }
  &.social__icon {
    fill: #ffffff;

    .social__link:hover &,
    .social__link:hover:focus & {
      fill: #44c697;
    }
  }
}
.footer__bottom {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 549.98px) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  @media screen and (max-width: 479.98px) {
    margin-top: 50px;
  }
}
.footer__copy {
  font-size: 14px;
  line-height: 120%;

  color: #ffffff;
}
.footer__advertising {
}
.advertising {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 1.14; /* 16/14 */

  text-transform: uppercase;

  color: #ffffff;

  transition: color 250ms ease;

  &:hover,
  &:focus {
    color: #44c697;
  }
  
}
.advertising__image {
  width: 20px;
}
