.goods {
  margin-top: 100px;
  @media screen and (max-width: 767.98px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 479.98px) {
    margin-top: 30px;
  }
}
.goods__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goods__cover {
  position: relative;

  margin-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    background-color: #44c697;
  }

  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}
.goods__title {
  position: relative;

  font-size: 48px;
  @media screen and (max-width: 479.98px) {
    font-size: 35px;
  }
}
.goods__categories {
  margin-bottom: 87px;
  @media screen and (max-width: 767.98px) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 479.98px) {
    margin-bottom: 30px;
  }
}
.categories {
  width: 100%;
}
.categories__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  @media screen and (max-width: 767.98px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.categories__item {
}
.categories__link {
  position: relative;

  padding-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #44c697;
    transform: scale(0, 0);
    transition: transform 250ms ease 0s;
  }

  &:hover::after {
    transform: scale(1, 1);
  }
}
.active {
  &.categories__link::after {
    transform: scale(1, 1);
  }
}
.categories__logo {
  width: 100px;
  height: 100px;

  margin-bottom: 10px;

  transition: fill 250ms ease;

  .categories__link:hover & {
    fill: #44c697;
  }
  .active.categories__link & {
    fill: #44c697;
  }
  @media screen and (max-width: 479.98px) {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
  }
}
.categories__title {
  font-size: 24px;

  text-align: center;
  text-transform: uppercase;
}
.goods__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  margin-bottom: 50px;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}
.goods__item {
  position: relative;
  max-width: 586px;
}
.goods__link {
  display: block;
  width: 100%;

  transition: transform 250ms ease;
  .goods__item:hover &,
  .goods__item:focus & {
    transform: translateY(-25px);
  }
}
.goods__image {
  width: 100%;
}
.sale__cover {
  position: absolute;
  top: 10px;
  left: 0;
}
.goods__new {
  display: none;
  padding: 5px 15px;

  background-color: $blackColor;
  font-weight: 700;

  text-transform: uppercase;

  /* greyscale/000 */

  color: #ffffff;

  margin-bottom: 5px;
  .goods__item:nth-child(1) &,
  .goods__item:nth-child(2) &,
  .goods__item:nth-child(4) &,
  .goods__item:nth-child(6) & {
    display: block;
  }
}
.goods__sale {
  display: none;
  padding: 5px 15px;
  background: #ff1b1b;

  font-weight: 700;

  text-transform: uppercase;

  color: #ffffff;
  .goods__item:nth-child(2) &,
  .goods__item:nth-child(6) & {
    display: inline-block;
  }
}
.goods__text {
  display: flex;
  padding-top: 15px;

  transition: background-color 250ms ease;
  .goods__item:hover & {
    background-color: #44c697;
  }
}
.goods__name {
  font-weight: 700;
  font-size: 24px;

  text-transform: uppercase;

  margin-right: auto;
  margin-left: 15px;
  margin-bottom: 15px;

  transition: color 250ms ease;
  .goods__item:hover & {
    color: #ffffff;
  }
  @media screen and (max-width: 479.98px) {
    margin-left: 10px;
    font-size: 16px;
  }
}
.goods__lowprice {
  display: none;
  font-weight: 700;
  font-size: 24px;

  text-transform: uppercase;

  color: #ff1b1b;

  .goods__item:nth-child(2) &,
  .goods__item:nth-child(6) & {
    display: inline;
  }
  transition: color 250ms ease;
  .goods__item:hover & {
    color: #ffffff;
  }
  @media screen and (max-width: 479.98px) {
    font-size: 16px;
  }
}
.goods__price {
  font-weight: 700;
  font-size: 24px;

  text-transform: uppercase;

  margin-right: 15px;
  margin-left: 15px;
  .goods__item:nth-child(2) &,
  .goods__item:nth-child(6) & {
    font-size: 18px;
    text-decoration: line-through;
    color: #bcbdbb;
  }
  transition: color 250ms ease;
  .goods__item:hover & {
    color: #ffffff;
  }

  @media screen and (max-width: 479.98px) {
    margin-right: 10px;
    margin-left: 10px;
  }
  @media screen and (max-width: 479.98px) {
    font-size: 16px;
    .goods__item:nth-child(2) &,
    .goods__item:nth-child(6) & {
      font-size: 12px;
    }
  }
}

.goods__button {
}
